body {background-color: #FFFFEF; margin: 0px}
header { background-color: #F46257; margin: 0px; padding: 0px; border: 0px}
h1 {color: #FFFFEF; text-align: center; font-family: Gloss And Bloom; padding-top: 1em; padding-bottom: 0px; font-size: 70px}
nav ul{list-style-type: none; font-family: Raleway; color: #FFFFEF; font-size: 20px; text-align: center; padding-bottom: 2em; padding-top: 0}
nav li{display: inline; padding: 2em}
article {margin: 7em}
article:nth-child(odd) {background: #218CA5}
article:nth-child(odd) h2{font-family: Raleway; font-style: oblique; font-size: 35px; color: #BAF2E8; padding-left: 1em; padding-top: 1em}
article:nth-child(even) {background: #F46257}
article:nth-child(even) h2{font-family: Raleway; font-style: oblique; font-size: 35px; color: #FDB1AC; padding-left: 1em; padding-top: 1em}
section {width: 70%; padding-left: 2em; padding-right: 2em;}
p {font-family: Raleway; font-size: 90%; color: #FFFFEF; text-align: justify; padding-bottom: 1em; }
section:last-child {padding-bottom: 2em}
img {border-radius: 8px;   display: block; margin-left: auto; margin-right: 3em; width: 20%;float:right}
footer .autorinfo{font-family: 'Courier New', Courier, monospace; font-size: 20px; color:#F46257; padding-left: 10em; padding-right: 10em; margin-top: 2em; margin-bottom: 2em; display: inline}
